@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Druk";
        src: url( "../public/fonts/Druk/DrukTextWide-Bold.ttf" ) format( "truetype" );
    }

    @font-face {
        font-family: "Noto Sans";
        src: url( "../public/fonts/NotoSans/NotoSans-Regular.ttf" ) format( "truetype" );
    }

    @font-face {
        font-family: "Syne";
        src: url( "../public/fonts/Syne/Syne-Regular.ttf" ) format( "truetype" );
    }
}

.w-span {
    width: 70%;
}

.w-hamburger-bg {
    width: 54%;
}

.w-hamburger {
    width: 38%;
}

.mt-26 {
    margin-top: 6.5rem;
}

.w-food-d {
    width: 45%;
}

.mt-88 {
    margin-top: 22rem;
}

.w-input {
    width: 45%;
}

.w-food-art,
.w-map,
.w-footer {
    width: 55%;
}

.ml-30 {
    margin-left: 7.7rem;
}

.px-85 {
    padding-left: 23rem;
    padding-right: 23rem;
}

.pb-30 {
    padding-bottom: 7.6rem;
}